body{
    font-family: Arial;
    margin:0;
    padding:40px;

    background-image: url('images/back.jpg'); 
    background-size: cover;
    background-position: center;
    
}

.container{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.card{
    width:220px;
    text-align:center;
}

.image-box{
    position:relative;
}

.image-box > img{
    width:100%;
    height:300px;
    object-fit:cover;
    border-radius:10px;
    border:3px solid #333;
}

.heart{
    position:absolute;
    top:10px;
    right:10px;
    width:35px;
    height:35px;
    background:white;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
}

.heart-img{
    width:18px;
}

.title{
    background:#333;
    color:white;
    display:inline-block;
    padding:5px 12px;
    border-radius:10px;
    font-size:12px;
    margin:10px 0;
}

input, textarea{
    width:100%;
    padding:6px;
    margin:4px 0;
    border-radius:5px;
    border:1px solid #999;
}

button{
    background:#ff6b6b;
    border:none;
    padding:7px 20px;
    color:white;
    border-radius:6px;
    cursor:pointer;
}

button:hover{
    background:#ff4b4b;
}

.comments-list{
    list-style:none;
    padding:5px;
    margin:5px 0;
    max-height:120px;       
    border:1px solid #ccc;
    border-radius:5px;
    overflow-y:auto;        
    background:#f9f9f9;
}

.comments-list li{
    padding:4px 6px;
    border-bottom:1px solid #eee;
    font-size:13px;
}

.comments-list li:last-child{
    border-bottom:none;
}